@use '../base/variables' as *;

.page-content {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .page-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.7;
    max-width: 800px;
    margin: 0 auto 1.5rem;
  }
}
