// Color Palette
$primary-color: #fc4c02;
$secondary-color: #fd824d;
$text-color: #333;
$background-color: #fff;
$border-color: #dee2e6;
$light-gray: #f8f9fa;
$dark-gray: #343a40;

// Typography
$base-font-size: 16px;

// Spacing
$base-spacing-unit: 1rem;
