@use '../base/variables' as *;

.hero {
  background-color: $dark-gray;
  color: #fff;
  padding: 6rem 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-content {
    max-width: 700px;
  }

  .hero-title {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }

  .hero-subtitle {
    font-size: 1.25rem;
    color: $light-gray;
    margin-bottom: 2rem;
  }
}