@use '../base/variables' as *;
@use 'sass:color';

.navbar {
  background-color: #fff;
  border-bottom: 1px solid $border-color;
  padding: 1rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -1px;
    text-decoration: none;
    display: flex;
    gap: 1px;

    .first {
      color: $primary-color;
    }

    .second {
      color: $dark-gray;
    }
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;

    a {
      text-decoration: none;
      color: $text-color;
      font-weight: 500;
      position: relative;
      padding-bottom: 0.25rem;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $secondary-color;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }

      &.active {
        font-weight: bolder;
        font-size: 0.97rem;
      }

      &.active::after {
        width: 100%;
        transition: none;
      }
    }
  }
}
